* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "M PLUS Rounded 1c";
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
}
/* アコーヂオン矢印消す */
/* Chrome、Safari以外 */
summary {
  display: block;
}
/* アコーヂオン矢印消す */
/* Chrome、Safari */
summary::-webkit-details-marker {
  display: none;
}

.for-pc {
  display: block;
}
.for-tb {
  display: none;
}
.for-sp {
  display: none;
}
/*PC画面*/
@media screen and (min-width: 961px) {
  .for-pc {
    display: block;
  }
  .for-tb {
    display: none;
  }
  .for-sp {
    display: none;
  }
  header {
    height: 60px;
    width: 100%;
    padding: 15px 0;
    justify-content: space-around;
    background-color: #fee199;
    color: black;
    /* position: fixed; */
  }

  header .headline {
    line-height: 30px;
    font-size: 30px;
    font-weight: 900;
    margin-left: 20px;
    position: fixed;
  }
  .nav-list {
    /* line-height: 0px; */
    /* float: left; */
    margin-left: 170px;
    font-size: 22px;
    list-style: none;
    /* position: fixed; */
  }
  .nav-list-item {
    list-style: none;
    display: inline-block;
    margin-left: 25px;
    font-weight: 500;
    /* position: fixed; */
  }

  a {
    text-decoration: none;
  }
  header#header-all {
    position: fixed;
    user-select: none;
    z-index: 10;
  }
  .black {
    color: #000;
  }
  #black {
    color: #000;
  }

  #shop-mark {
    height: 4vw;
    float: left;
  }
  #shop-mozi1 {
    width: 30vw;
    font-size: 2vw;
    font-weight: 500;
    padding: 0.5em 1em;
    margin: 1.5em 0;
    margin-top: 10vh;
    margin-bottom: 190px;
    /* margin-top: 150px; */
    margin-left: 2vw;
    /* margin-left: -120px; */
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    user-select: none;
  }
  #shop-mozi2 {
    width: 30vw;
    font-size: 2vw;
    font-weight: 500;
    padding: 0.5em 1em;
    margin: 1.5em 0;
    margin-top: 10vh;
    margin-bottom: 190px;
    /* margin-top: 150px; */
    margin-left: 2vw;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    user-select: none;
  }
  #shop-mozi3 {
    width: 30vw;
    font-size: 2vw;
    font-weight: 500;
    padding: 0.5em 1em;
    margin: 1.5em 0;
    margin-top: 10vh;
    margin-bottom: 190px;
    /* margin-top: 150px; */
    margin-left: 2vw;
    margin-right: 2vw;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    user-select: none;
  }
  #shop-mozi4 {
    width: 30vw;
    font-size: 2vw;
    font-weight: 500;
    padding: 0.5em 1em;
    margin: 1.5em 0;
    margin-top: -12vh;
    margin-bottom: 190px;

    margin-left: 2vw;
    /* margin-left: -120px; */
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    user-select: none;
  }
  #shop-mozi5 {
    width: 30vw;
    font-size: 2vw;
    font-weight: 500;
    padding: 0.5em 1em;
    margin: 1.5em 0;
    margin-top: -12vh;
    margin-bottom: 190px;
    margin-left: 2vw;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    user-select: none;
  }
  #shop-mozi6 {
    width: 30vw;
    font-size: 2vw;
    font-weight: 500;
    padding: 0.5em 1em;
    margin: 1.5em 0;
    margin-top: -12vh;
    margin-bottom: 190px;
    margin-left: 2vw;
    margin-right: 2vw;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    user-select: none;
  }
  #shop-acordion {
    display: flex;
    float: left;
    justify-content: space-between;
    /* margin-left: 100px; */
  }
  /* アコーディオン改行のcss */
  .clear {
    clear: both;
  }
  #kategori {
    margin-top: -50px;
    margin-left: 20px;
    float: left;
    padding: 1rem 2rem;
    border-left: 5px solid #000;
    background: #f4f4f4;
    user-select: none;
  }
  .acordion-title {
    margin-left: 3.5vw;
  }
  .acordion-contents {
    clear: both;
    text-align: center;
  }
  #shop-mark-other {
    margin-left: 0vw;
  }

  #shop-pay {
    margin-top: 2vh;
    margin-left: -1vw;
    width: 25vw;
  }

  /* アコーディオンの文字の配置調整 */
  #mozi-text {
    position: relative;
    top: 10px;
    left: 0.8vw;
  }

  #tb-title {
    font-size: 35px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
  }
  /* ハンバーガーメニューレイアウト */
  .wrapper {
    position: absolute;
    background: #f5f5f5;
  }
  .help {
    list-style: none;
    display: block;
    margin-right: 25px;
  }
  #icon-mark {
    font-size: 30px;
  }
  /* ハンバーガーメニュー */
  #hanbur-title {
    font-size: 5vw;
    margin-left: 26vw;
    font-weight: bold;
    border-bottom: 5px dashed dimgrey;
  }
  #sub-title {
    font-size: 3vw;
    font-weight: bold;
  }
  ol {
    font-size: 2vw;
    margin-left: 2vw;
  }
  #shop-explain {
    width: 55vw;
    /* margin-left: 12vw; */
  }
  .hamburger {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #fee199;
    /* padding: 10px; */
    position: fixed;
    top: 15px;
    left: 90vw;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  .hamburger:hover {
    cursor: pointer;
  }
  .hamburger span {
    background: #fff;
    width: 25px;
    height: 2px;
    position: absolute;
    transition: 0.3s ease-out;
  }
  .hamburger span:nth-of-type(1) {
    top: 15px;
  }
  .hamburger span:nth-of-type(3) {
    bottom: 15px;
  }
  /* ハンバーガーメニューにactiveクラスがついたときのスタイル */
  .hamburger.active span:nth-of-type(1) {
    transform: translateY(9px) rotate(-45deg);
    transition: 0.3s ease-out;
  }
  .hamburger.active span:nth-of-type(3) {
    transform: translateY(-9px) rotate(45deg);
    transition: 0.3s ease-out;
  }
  .hamburger.active span:nth-of-type(2) {
    opacity: 0;
  }
  /* メニュー */
  .menu {
    width: 100vw;
    height: 100vh;
    background: #fff5ee;
    color: black;
    position: fixed;
    top: 60px;
    padding-top: 0px;
    padding-left: 8vw;
    transform: translate(100vw);
    transition: 0.3s ease-out;
    display: none;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 100;
  }
  li {
    margin-bottom: 10px;
  }
  /* メニューにopenクラスがついたときのスタイル */
  .menu.open {
    transform: translate(0vw);
    transition: 0.3s ease-out;
    display: block;
    overflow: scroll;
  }
}
/*960px画面*/
@media screen and (max-width: 960px) {
  .for-pc {
    display: none;
  }
  .for-tb {
    display: block;
  }
  .for-sp {
    display: none;
  }
  /* ヘッダーレイアウト */
  #header {
    position: fixed;
    height: 60px;
    width: 100vw;
    /* padding: 15px 0; */
    background-color: #fee199;
    display: flex;
    color: black;
    z-index: 1000;
  }
  #title-icon {
    font-size: 40px;
  }
  /* header#header-all {
    position: relative;
  } */
  #tb-title {
    font-size: 35px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
  }
  /* ハンバーガーメニューレイアウト */
  .wrapper {
    position: absolute;
    background: #f5f5f5;
  }
  .help {
    list-style: none;
    display: block;
    margin-right: 25px;
  }
  #icon-mark {
    font-size: 30px;
  }
  /* ハンバーガーメニュー */
  #hanbur-title {
    font-size: 7vw;
    margin-left: 21vw;
    font-weight: bold;
    border-bottom: 5px dashed dimgrey;
  }
  #sub-title {
    font-size: 5vw;
    font-weight: bold;
  }
  ol {
    font-size: 4vw;
    margin-left: 7vw;
  }
  #shop-explain {
    width: 75vw;
    margin-left: 5vw;
  }
  .hamburger {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #fee199;
    /* padding: 10px; */
    position: fixed;
    top: 15px;
    left: 90vw;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  .hamburger:hover {
    cursor: pointer;
  }
  .hamburger span {
    background: #fff;
    width: 25px;
    height: 2px;
    position: absolute;
    transition: 0.3s ease-out;
  }
  .hamburger span:nth-of-type(1) {
    top: 15px;
  }
  .hamburger span:nth-of-type(3) {
    bottom: 15px;
  }
  /* ハンバーガーメニューにactiveクラスがついたときのスタイル */
  .hamburger.active span:nth-of-type(1) {
    transform: translateY(9px) rotate(-45deg);
    transition: 0.3s ease-out;
  }
  .hamburger.active span:nth-of-type(3) {
    transform: translateY(-9px) rotate(45deg);
    transition: 0.3s ease-out;
  }
  .hamburger.active span:nth-of-type(2) {
    opacity: 0;
  }
  /* メニュー */
  .menu {
    width: 100vw;
    height: 100vh;
    background: #fff5ee;
    color: black;
    position: fixed;
    top: 60px;
    padding-top: 0px;
    padding-left: 8vw;
    transform: translate(100vw);
    transition: 0.3s ease-out;
    display: none;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 100;
  }
  li {
    margin-bottom: 10px;
  }
  /* メニューにopenクラスがついたときのスタイル */
  .menu.open {
    transform: translate(0vw);
    transition: 0.3s ease-out;
    display: block;
    overflow: scroll;
  }

  #shop-mark {
    height: 6vw;
    float: left;
  }
  #shop-mozi1 {
    width: 42vw;
    font-size: 3vw;
    font-weight: 500;
    padding: 0.5em 1em;
    margin: 1.5em 0;
    margin-bottom: 190px;
    /* margin-top: 150px; */
    margin-left: 6vw;
    /* margin-left: -120px; */
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    user-select: none;
  }
  #shop-mozi2 {
    width: 42vw;
    font-size: 3vw;
    font-weight: 500;
    padding: 0.5em 1em;
    margin: 1.5em 0;
    margin-bottom: 190px;
    /* margin-top: 150px; */
    margin-left: 4vw;
    margin-right: 6vw;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    user-select: none;
  }
  #shop-mozi3 {
    width: 42vw;
    font-size: 3vw;
    font-weight: 500;
    padding: 0.5em 1em;
    margin: 1.5em 0;
    margin-top: -11vh;
    margin-bottom: 190px;

    margin-left: 6vw;
    /* margin-left: -120px; */
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    user-select: none;
  }
  #shop-mozi4 {
    width: 42vw;
    font-size: 3vw;
    font-weight: 500;
    padding: 0.5em 1em;
    margin: 1.5em 0;
    margin-top: -11vh;
    margin-bottom: 190px;
    margin-left: 4vw;
    margin-right: 6vw;
    /* margin-left: -120px; */
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    user-select: none;
  }
  #shop-mozi5 {
    width: 42vw;
    font-size: 3vw;
    font-weight: 500;
    padding: 0.5em 1em;
    margin: 1.5em 0;
    margin-top: -11vh;
    margin-bottom: 190px;
    margin-left: 6vw;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    user-select: none;
  }
  #shop-mozi6 {
    width: 42vw;
    font-size: 3vw;
    font-weight: 500;
    padding: 0.5em 1em;
    margin: 1.5em 0;
    margin-top: -11vh;
    margin-bottom: 190px;
    margin-left: 4vw;
    margin-right: 6vw;
    /* margin-right: 2vw; */
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    user-select: none;
  }
  #shop-acordion {
    display: flex;
    float: left;
    justify-content: space-between;
    /* margin-left: 100px; */
  }
  /* アコーディオン改行のcss */
  .clear {
    clear: both;
  }
  #kategori {
    margin-top: -50px;
    margin-left: 20px;
    float: left;
    padding: 1rem 2rem;
    border-left: 5px solid #000;
    background: #f4f4f4;
    user-select: none;
  }

  .acordion-title {
    margin-left: 3.5vw;
  }
  .acordion-contents {
    clear: both;
    text-align: center;
  }
  #shop-pay {
    width: 35vw;
    margin-top: 2vh;
  }
  #shop-mark-other {
    margin-left: 0vw;
  }

  /* アコーディオンの文字の配置調整 */
  #mozi-text {
    position: relative;
    top: 10px;
    left: 0.8vw;
  }

  /*footerレイアウト開始*/
  footer {
    /*footerの装飾*/
    width: 100vw;
    height: 6.5vh;
    justify-content: space-around;
    background-color: #fee199;
    color: #fff;
    display: flex;
    /* text-align: center; */
    /* padding: 30px; */
    position: fixed; /*←絶対位置*/
    bottom: 0; /*下に固定*/
    z-index: 1000;
  }

  .nav-list {
    /* line-height: 0px; */
    /* float: left; */
    text-align: center;
    vertical-align: middle;
    /* justify-content: space-around; */
    position: fixed;
    margin-top: 3px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-weight: 600;
    list-style: none;
  }
  .nav-list-item {
    list-style: none;
    display: inline-block;
    width: 31vw;
    text-align: center;
    vertical-align: middle;
    justify-content: space-around;
    margin-top: 8px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    color: #000;
  }
  #footer-icon {
    font-size: 16px;
  }
  .black {
    color: #000;
  }
  /*footerレイアウト終了*/

  a {
    text-decoration: none;
  }
  @media screen and (orientation: landscape) {

    footer {
      display: none;
    }
  }
}

/*スマホ画面*/
@media screen and (max-width: 520px) {
  .for-pc {
    display: none;
  }
  .for-tb {
    display: none;
  }
  .for-sp {
    display: block;
  }
  /* ヘッダーレイアウト */
  #header {
    position: fixed;
    height: 60px;
    width: 100vw;
    /* padding: 15px 0; */
    background-color: #fee199;
    display: flex;
    color: black;
    z-index: 1000;
  }
  #title-icon {
    font-size: 40px;
  }
  /* header#header-all {
      position: relative;
    } */
  #tb-title {
    font-size: 35px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
  }

  #kategori {
    margin-top: -50px;
    margin-left: 9px;
    float: left;
    padding: 1rem 2rem;
    border-left: 5px solid #000;
    background: #f4f4f4;
    user-select: none;
  }

  /* ハンバーガーメニューレイアウト */
  .wrapper {
    position: absolute;
    background: #f5f5f5;
  }
  .help {
    list-style: none;
    display: block;
    margin-right: 25px;
  }
  #icon-mark {
    font-size: 30px;
  }
  /* ハンバーガーメニュー */
  #hanbur-title {
    font-size: 8vw;
    margin-left: 21vw;
    font-weight: bold;
    border-bottom: 5px dashed dimgrey;
  }
  #sub-title {
    font-size: 6vw;
    font-weight: bold;
  }
  ol {
    font-size: 4vw;
    font-weight: 500;
    margin-left: 7vw;
  }
  #shop-explain {
    width: 75vw;
    margin-left: 5vw;
  }
  .hamburger {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #fee199;
    /* padding: 10px; */
    position: fixed;
    top: 15px;
    left: 85vw;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  .hamburger:hover {
    cursor: pointer;
  }
  .hamburger span {
    background: #fff;
    width: 25px;
    height: 2px;
    position: absolute;
    transition: 0.3s ease-out;
  }
  .hamburger span:nth-of-type(1) {
    top: 15px;
  }
  .hamburger span:nth-of-type(3) {
    bottom: 15px;
  }
  /* ハンバーガーメニューにactiveクラスがついたときのスタイル */
  .hamburger.active span:nth-of-type(1) {
    transform: translateY(9px) rotate(-45deg);
    transition: 0.3s ease-out;
  }
  .hamburger.active span:nth-of-type(3) {
    transform: translateY(-9px) rotate(45deg);
    transition: 0.3s ease-out;
  }
  .hamburger.active span:nth-of-type(2) {
    opacity: 0;
  }
  /* メニュー */
  .menu {
    width: 100vw;
    height: 100vh;
    background: #fff5ee;
    color: black;
    position: fixed;
    top: 60px;
    padding-top: 0px;
    padding-left: 8vw;
    transform: translate(100vw);
    transition: 0.3s ease-out;
    display: none;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 100;
  }
  li {
    margin-bottom: 10px;
  }
  /* メニューにopenクラスがついたときのスタイル */
  .menu.open {
    transform: translate(0vw);
    transition: 0.3s ease-out;
    display: block;
    overflow: scroll;
  }

  #acordion {
    display: block;
    text-align: left;
  }
  /*footerレイアウト開始*/

  footer {
    /*footerの装飾*/
    width: 100vw;
    height: 6.5vh;
    justify-content: space-around;
    background-color: #fee199;
    color: #fff;
    display: flex;
    /* text-align: center; */
    /* padding: 30px; */
    position: fixed; /*←絶対位置*/
    bottom: 0; /*下に固定*/
    z-index: 1000;
  }

  .nav-list {
    /* line-height: 0px; */
    /* float: left; */
    text-align: center;
    vertical-align: middle;
    /* justify-content: space-around; */
    position: fixed;
    margin-top: 8px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-weight: 600;
    list-style: none;
  }
  .nav-list-item {
    list-style: none;
    display: inline-block;
    width: 31vw;
    text-align: center;
    vertical-align: middle;
    justify-content: space-around;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    color: #000;
  }
  #footer-icon {
    font-size: 16px;
  }
  .black {
    color: #000;
  }
  /*footerレイアウト終了*/

  #shop-pay {
    width: 75vw;
  }
  #shop-mark {
    height: 10vw;
    margin-left: 6vw;
    margin-right: 2vw;
  }
  /* 吉野家 */
  #shop-mark-yosinoya {
    height: 10vw;
    margin-left: 4vw;
    margin-right: 6vw;
  }
  /* すき家 */
  #shop-mark-sukiya {
    height: 10vw;
    margin-left: 4vw;
    margin-right: 7vw;
  }
  /* 丸亀製麵 */
  #shop-mark-marugame {
    height: 10vw;
    margin-left: 5vw;
    margin-right: 7vw;
  }
  /* モスバーガー */
  #shop-mark-mos {
    height: 10vw;
    margin-left: 4vw;
    margin-right: 4vw;
  }

  /* エディオン */
  #shop-mark-ed {
    height: 10vw;
    margin-left: 6vw;
    margin-right: 6vw;
  }
  /* 家電 */
  #shop-mark-kaden {
    height: 10vw;
    margin-left: 6vw;
    margin-right: 3vw;
  }
  /* ジョーシン */
  #shop-mark-joshin {
    height: 10vw;
    margin-left: -2vw;
    margin-right: 3vw;
  }
  /* ケーズデンキ */
  #shop-mark-kz {
    height: 10vw;
    margin-left: -2vw;
    margin-right: 3vw;
  }
  /* コジマ */
  #shop-mark-kozima {
    height: 10vw;
    margin-left: 6vw;
    margin-right: 10vw;
  }
  /* GU */
  #shop-mark-gu {
    height: 10vw;
    margin-left: 4vw;
    margin-right: 7vw;
  }
  /* ユニクロ */
  #shop-mark-yunikuro {
    height: 10vw;
    margin-left: 6vw;
    margin-right: 5vw;
  }
  /* H&M */
  #shop-mark-hm {
    height: 10vw;
    margin-left: 3vw;
    margin-right: 6vw;
  }
  /* ライトオン */
  #shop-mark-right {
    height: 10vw;
    margin-left: 6vw;
    margin-right: 5vw;
  }
  /* WEGO */
  #shop-mark-wego {
    height: 10vw;
    margin-left: 6vw;
    margin-right: 5vw;
  }
  /* GAP */
  #shop-mark-gap {
    height: 10vw;
    margin-left: 6vw;
    margin-right: 8vw;
  }
  /* スギ薬局 */
  #shop-mark-sugi {
    height: 10vw;
    margin-left: 3vw;
    margin-right: 6vw;
  }
  /* スギヤマ */
  #shop-mark-sugiyama {
    height: 10vw;
    margin-left: 6vw;
    margin-right: 9vw;
  }
  /* クリエイト、ウエルシア */
  #shop-mark-other {
    height: 10vw;
    margin-left: 6vw;
    margin-right: 7vw;
  }
  /* コスモス */
  #shop-mark-kosumosu {
    height: 10vw;
    margin-left: 6vw;
    margin-right: 5vw;
  }
  /* アコーディオンの文字の配置調整 */
  #mozi-text {
    position: relative;
    top: 8px;
    left: 2vw;
  }
  #shop-mozi {
    width: 100vw;
    font-size: 7vw;
    font-weight: 500;
    padding: 0.5em 1em;
    margin: 1em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  }
  .acordion-title {
    margin-left: 7vw;
  }
  .acordion-contents {
    clear: both;
    text-align: center;
  }
  @media screen and (orientation: landscape) {

    footer {
      display: none;
    }
  }
}
